<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/logo.png">
    <title>第七章-组件</title>
    <script src="/js/vue.js"></script>
    <style>
        *{
            box-sizing: border-box;

        }
    </style>
</head>
<body>
    <div id="app">
       <!-- <p>父组件输入的内容: <input type="text" v-model="message"></p>
        <p>父组件obj:name={{obj.name}},age={{obj.age}}</p>-->
        <!--<my-component-global :parent-message="message" :obj="obj"></my-component-global>-->
        <!--<my-component-local></my-component-local>-->
        <!--<component-obj :prop-a="propA"></component-obj>-->
         <!--<p>total : {{total}}</p>
        <component-child @increase="handleTotal" @reduce="handleTotal"></component-child>-->
        <!--<p>total : {{total}}</p>
        <input type="button" @click="total++;" value="total +1">
        <component-child-two v-model="total"></component-child-two>-->
        <!--<p>total : {{total}}</p>
        <input type="button" @click="total++;" value="total +1">
        <component-data-bind v-model="total"></component-data-bind>-->
        <!--<component-data-bind :value="total" @input="handleTotal"></component-data-bind>-->
    </div>
</body>
</html>
<script>
    //注册一个组件
    Vue.component('my-component-global',{
        template:'<div><p>子组件自己的message：{{message}}</p><p>来自父组件的message：{{parentMessage}}</p><p><input type="button" @click="handleClick" value="改变父组件传入的对象"></p></div>',
        props:['parentMessage','obj'],
        data(){
            return {
                message:'子组件的message',
            }
        },
        methods:{
            handleClick(){
                this.obj.name="lj";
            }
        }
    });

    Vue.component('component-obj',{
        props:{
            propA:{
                type:Number,
                required:true,
                default:0,
                validator:function(value){
                    return value > 10;
                }
            }
        },
        template:'<div>{{propA}}</div>'
    });
    Vue.component('component-child',{
        template:'<div><p>counter:{{counter}}</p><input type="button" @click="handleIncrease" value="增加"><input type="button" @click="handleReduce" value="减少"></div>',
        data(){
            return {
                counter:0
            }
        },
        methods:{
            handleIncrease(){
                this.counter++;
                this.$emit("increase",this.counter);
            },
            handleReduce(){
                this.counter--;
                this.$emit("reduce",this.counter);
            }
        }
    });

    Vue.component('component-child-two',{
        template:'<div>{{value}}<input type="button" value="点我+1" @click="handleClick"></div>',
        data(){
            return {
                counter:0
            }
        },
        methods:{
            handleClick(){
                this.counter++;
                this.$emit("input",this.counter);
            }
        }
    });

    Vue.component('component-data-bind',{
        template:'<div><input type="text" @input="updateValue" :value="value"></div>',
        props:['value'],
        methods:{
            updateValue(e){
                this.$emit('input',e.target.value);
            }
        }
    })




    var app = new Vue({
        el:'#app',
        data:{
            message:'',
            obj:{
                name:'ydd',
                age:28
            },
            propA:11,
            total:0
        },
        methods:{
            handleTotal(value){
                this.total=value;
            }
        },
        components:{
            'my-component-local':{
                template:'<div>这是局部组件的内容</div>'
            }
        }
    });

</script>